---
// import BaseLayout from '~/client/layouts/BaseLayout.client.vue'
export interface Props {
  example: string
}

const props = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow, nosnippet" />
    <meta name="description" content="Description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{props.example ?? 'HelloWorld!'}</title>
  </head>
  <body>
    <div class="min-h-[100svh] flex flex-col items-center">
      <div class="flex grow basis-1 flex-col">
        <header
          class="relative h-10 [@media(min-width:900px)]:z-[100] [@media(max-height:900px)]:clamp-h-[margin-top,32,88,640,900]"
        >
          <slot name="header" class="mb-[24px] flex flex-col gap-6" />
        </header>
        <main class="clamp-h-[margin-top,48,126,640,900]">
          <slot name="main" />
        </main>
      </div>
      <footer
        id="mainFooter"
        class="relative z-[75] flex flex-col gap-6 py-6"
      >
        <slot name="footer" class="mb-[24px] flex flex-col gap-6">
          <!-- <ChangeLanguage client:only="vue" /> -->
        </slot>
      </footer>
    </div>

    <!-- <div id="toast-root"></div> -->
  </body>
</html>
